rules_version = '2';

service cloud.firestore {
  match /databases/{database}/documents {

    match /questions/{questionId} {
      allow read: if true;
      allow create, update, delete: if true;
    }

    match /results/{resultId} {
      allow read: if true;
      allow create: if true;
      allow update, delete: if true;
    }

    match /users/{userId} {
      allow read: if true;
      allow create: if true;
      allow update: if true;
      allow delete: if false;
    }

    match /blockedUsers/{userId} {
      allow read, create, update, delete: if true;
    }

    match /{document=**} {
      allow read, write: if false;
    }
  }
}